[Desktop Entry]
Name=tracelr
Exec=tracelr
Icon=icon
Type=Application
Categories=Development;Utility;
StartupWMClass=tracelr
Comment=Explore and trace LeRobot datasets
