[Desktop Entry]
Name=tracelr
Exec=tracelr %f
Icon=tracelr
Type=Application
Categories=Development;
StartupWMClass=tracelr
Comment=Explore and trace LeRobot datasets
